<?xml version="1.0" encoding="UTF-8"?>  
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    	 xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
	<display-name>BeautifulPages</display-name>
    
	<!-- Spring Framework -->
	
	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:/applicationContext*.xml
		</param-value>
	</context-param> 
	<!--  
	<servlet>
		<servlet-name>processList</servlet-name>
		<jsp-file>/pages/process/processList.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>processList</servlet-name>
		<url-pattern>/processList</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>test</servlet-name>
		<jsp-file>/pages/test.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>test</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>
	  -->
	  
	<!-- struts Framework -->  
    <filter>  
        <filter-name>struts2</filter-name>  
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class> 
        <!-- 
        <init-param>
        	<param-name>actionPackages</param-name>
        	<param-value>com.wxl.pageStu.web.action</param-value>
        </init-param> 
         -->
    </filter>  
    <filter-mapping>  
        <filter-name>struts2</filter-name>  
        <url-pattern>/*</url-pattern>  
    </filter-mapping>
    	 
	<welcome-file-list>
		<welcome-file>/pages/index.html</welcome-file>
		<welcome-file>/pages/index.htm</welcome-file>
		<welcome-file>/pages/index.jsp</welcome-file>
	</welcome-file-list>

</web-app>