<?xml version="1.0" encoding="UTF-8"?>  
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    	 xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
	<display-name>BeautifulPages</display-name>
	
	<servlet>
		<servlet-name>processList</servlet-name>
		<jsp-file>/WEB-INF/pages/processList.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>processList</servlet-name>
		<url-pattern>/processList</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>test</servlet-name>
		<jsp-file>/WEB-INF/pages/test.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>test</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>
	 
	<welcome-file-list>
		<welcome-file>/WEB-INF/index.html</welcome-file>
		<welcome-file>/WEB-INF/index.htm</welcome-file>
		<welcome-file>/WEB-INF/index.jsp</welcome-file>
	</welcome-file-list>

</web-app>